{% extends 'base.html'%}
{% block css %}
.card{
    transition: transform 0.3s ease-in-out;
}
.card:hover{
     transform: scale(0.95);
}
{% endblock css %}
{% block content %}

<div class="container">
  <div class="row mt-2 mb-5">
      <h2 class="text-center fw-bold">Contact Us</h2>
      <div class="col-md-6 mt-3">
        <div class="card p-4 border border-dark" style="height:320px;">
          <form method="POST" class="mt-4">
            {% csrf_token %}
<!--          <div class="row">-->
<!--            <div class="col mb-4">-->
<!--              <div class="form-floating">-->
<!--              <input type="text" class="form-control" id="floatingInput" placeholder="Name" name="name">-->
<!--              <label for="floatingInput">Name</label>-->
<!--            </div>-->
<!--            </div>-->
<!--            <div class="col">-->
<!--              <div class="form-floating">-->
<!--                <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" name="email">-->
<!--                <label for="floatingInput">Email</label>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingInput" placeholder="Subject" name="subject" required>
            <label for="floatingInput">Subject</label>
          </div>
          <div class="form-group mb-3">
            <div class="form-floating">
            <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea" name="message" required></textarea>
            <label for="floatingTextarea">Message</label>
          </div>
          </div>
          <div>
            <input type="submit" class="btn btn-warning">
          </div>
        </form>
        </div>
    </div>
    <div class="col-md-6 mt-3">

      <div class="row">
        <div class="col-md-6">
          <div class="card px-3 mb-4" style="height:150px;background-color: #D5AF52">
            <i class="bi bi-geo-alt fs-2" style="color:#191A69;"></i>
            <h4>Address</h4>
            <p> Kalawad Road, Yogidham, Gurukul,<br>Rajkot, Gujarat 360005 ·</p>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card px-3" style="height:150px;background-color: #D5AF52">
             <i class="bi bi-telephone fs-2" style="color: #191A69;"></i>
                <h4>Call Us</h4>
                <p>+91 9876543210<br>+91 9123456789</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="card px-3" style="height:150px;background-color: #D5AF52">
              <i class="bi bi-envelope fs-2" style="color: #191A69;"></i>
                <h4>Email Us</h4>
                <p>info@example.com<br>contact@example.com</p>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card px-3" style="height:150px; background-color: #D5AF52">
              <i class="bi bi-clock fs-2" style="color: #191A69;"></i>
                  <h4>Open Hours</h4>
                  <p>Monday - Friday<br>9:00AM - 05:00PM</p>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
{% endblock content %}